<div class="header-wrap">
    <div class="header-logo">
        <div class="header-logo-icon icon-yak-white"></div>
        <div class="header-logo-stars-icon icon-yak-stars" style="display: none"></div>
    </div>
    <div class="header-text">Y A K <span style="opacity: 0.5;">j s</span></div>
    <div class="header-links">
        <a href="https://github.com/cschuller/yak-js/blob/master/README.md">doku</a>
        <a href="https://github.com/cschuller/yak-js">github</a>
        <a href="https://github.com/cschuller/yak-js/releases">Version <span class="accent">{{version}}</span></a>
    </div>
</div>
