<div class="select-plugin-item" data-plugin-name="{{name}}">
    <div class="select-plugin-item-selector {{#isActive}}state-active{{/isActive}}"></div>
    <div class="select-plugin-item-text">{{name}}</div>
</div>