<div class="header-panel">
    <header class="header-panel-header">
        <div class="tool-bar-block">
            <div class="tool-bar-block-line">
                <div class="center-panel">
                    <div class="column-block">
                        <div class="column-block-fix-column text-button" data-element="clearFilter" title="Show all commands and presets">All</div>
                        <div class="column-block-fix-column icon-button icon-command-white" data-element="commandsFilter" title="Show only commands"></div>
                        <div class="column-block-fix-column icon-button icon-command-preset-white" data-element="presetsFilter" title="Show only presets"></div>

                        <div class="column-block-fix-column" data-element="groups"></div>

                        <div class="column-block-column-fill">
                            <div class="tool-box">
                                <a href="http://www.yakjs.com/api/commands.html" class="icon-button icon-help-white" title="API Documentation"></a>
                                <div class="icon-button icon-refresh-white" data-element="refresh" title="Refresh"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="header-panel-body">
        <div class="panel">
            <div class="center-panel">
                <div class="content-panel">
                    <div class="scroll-panel">
                        <div class="center-block">
                            <ul class="list" data-element="commandList" data-selectable></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
