<div class="list-item clickable" data-id="{{commandId}}">
    {{#isPreset}}
    <div class="list-item-cell list-item-icon icon-command-preset" title="This command preset uses the command `{{commandName}}`"></div>
    <div class="list-item-cell"><button class="list-inline-button list-inline-button-red" data-element="runButton" title="Executes the command.">RUN</button></div>
    <div class="list-item-cell module-item-name" title="This command preset uses the command `{{commandName}}`">{{displayName}}</div>
    {{/isPreset}}

    {{^isPreset}}
    <div class="list-item-cell list-item-icon icon-command" title="Command `{{commandName}}` provided by plugin `{{pluginId}}`"></div>
    <div class="list-item-cell"><button class="list-inline-button list-inline-button-red" data-element="runButton" title="Executes the command.">RUN</button></div>
    <div class="list-item-cell module-item-name" title="Command `{{commandName}}` provided by plugin `{{pluginId}}`">{{displayName}}</div>
    {{/isPreset}}
</div>
