{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "globals": {
    },
    "rules": {
        "eqeqeq": 0,
        "no-use-before-define": 0,
        "no-unused-vars": 0,
        "no-trailing-spaces": 0,
        "no-extra-strict": 0,
        "quotes": [2, "single"],
        "strict": 0,
        "curly": 2
    }
}
