<div class="header-panel">
    <div class="header-panel-header">
        <ul class="toolbar">
            <li class="toolbar-item"><button data-bind="click: handleSaveClick">Save</button></li>
            <li class="toolbar-item"><button data-bind="click: handleCancelClick">Cancel</button></li>
        </ul>
    </div>
    <div class="header-panel-body">
        <div class="scroll-panel">
            <div class="form-line error-line">
                <div class="error-line-text">{{error-text-here}}</div>
            </div>

            <div class="form">
                <div class="form-line">
                    <div class="line-label">Name</div>
                    <div class="line-input"><input data-bind="value:name" type="text" /></div>
                </div>
                <div class="form-line">
                    <div class="line-label">Port</div>
                    <div class="line-input"><input data-bind="value:port" type="text" /></div>
                </div>
                <div class="form-line">
                    <div class="line-label">Description</div>
                    <div class="line-input"><input data-bind="value:description" type="text" /></div>
                </div>
                <div class="form-line">
                    <div class="line-label">Plugins</div>
                    <div class="line-input">
                        <div class="plugin-list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
