{{#filteredPlugins}}
    <div class="list-item clickable" data-selectable data-element="pluginItem" data-name="{{name}}">
        <div class="list-item-icon {{^isActive}}icon-check-box-outline{{/isActive}} {{#isActive}}icon-check-box{{/isActive}}"></div>
        <div class="list-item-cell-fill text-line-block" title="{{description}}">{{name}}</div>
    </div>
{{/filteredPlugins}}


