<div class="column-block">
    <div class="column-block-column" style="width: 50%">
        {{#selectedPluginItems}}
            <div class="select-plugin-item {{^isActive}}placeholder-item{{/isActive}}" data-plugin-name="{{name}}">
                <div class="select-plugin-item-selector state-active"></div>
                <p class="select-plugin-item-text" title="{{description}}">{{name}}</p>
            </div>
        {{/selectedPluginItems}}
    </div>
    <div class="column-block-column" style="width: 50%">
        {{#notSelectedPluginItems}}
            <div class="select-plugin-item" data-plugin-name="{{name}}">
                <div class="select-plugin-item-selector"></div>
                <p class="select-plugin-item-text" title="{{description}}">{{name}}</p>
            </div>
        {{/notSelectedPluginItems}}
    </div>
</div>

