<div class="column-block">
    <div class="column-block-column-fill">
        {{#selectedPluginItems}}
            <div class="select-plugin-item {{^isActive}}placeholder-item{{/isActive}}" data-plugin-name="{{name}}">
                <span class="select-plugin-item-selector state-active"></span>
                <span class="select-plugin-item-text" title="{{description}}">{{name}}</span>
            </div>
        {{/selectedPluginItems}}
    </div>
    <div class="column-block-column-fill">
        {{#notSelectedPluginItems}}
            <div class="select-plugin-item" data-plugin-name="{{name}}">
                <span class="select-plugin-item-selector"></span>
                <span class="select-plugin-item-text" title="{{description}}">{{name}}</span>
            </div>
        {{/notSelectedPluginItems}}
    </div>
</div>

