<li class="list-item" data-id="{{id}}" {{^success}}data-selected{{/success}}>
    <div class="list-item-icon icon-{{type}}-dark"></div>
    <div class="list-item-cell-max">{{filename}}</div>
    <div class="list-item-icon-right icon-success-{{success}}"></div>
</li>
{{#errorMessage}}
<li class="list-item" data-id="{{id}}" {{^success}}data-selected{{/success}}>
    <div class="list-item-icon"></div>
    <div class="list-item-cell-max">{{errorMessage}}</div>
</li>
{{/errorMessage}}