<div class="dialog-panel-background"></div>
<div class="dialog-panel-content">
    <div class="header-panel">
        <div class="header-panel-header">
            <div class="dark-background-panel">
                <div class="header-label">File Upload Report</div>
            </div>
        </div>
        <div class="header-panel-body">
            <div class="footer-panel">
                <div class="footer-panel-body">
                    <div class="scroll-panel">
                        <ul class="list"></ul>
                    </div>
                </div>
                <div class="footer-panel-footer">
                    <div class="background-panel">
                        <div class="footer-panel-footer-box"><button data-bind="click: handleOkClick">OK</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
