<!DOCTYPE html>
<html>
    <head>
        <title>YAKjs</title>
        <link rel="stylesheet" href="style/yakjs-style.css" type="text/css">
        <link rel="stylesheet" href="ext/codemirror/codemirror.css">
        <link rel="stylesheet" href="ext/codemirror/addon/show-hint-yak.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

        <script src="ext/codemirror/codemirror.js"></script>
        <script src="ext/codemirror/mode/javascript.js"></script>
        <script src="ext/codemirror/mode/gfm.js"></script>
        <script src="ext/codemirror/mode/markdown.js"></script>
        <script src="ext/codemirror/mode/htmlmixed.js"></script>
        <script src="ext/codemirror/mode/overlay.js"></script>
        <script src="ext/codemirror/mode/css.js"></script>
        <script src="ext/codemirror/addon/show-hint.js"></script>
        <script src="ext/codemirror/addon/javascript-hint.js"></script>

        <script src="ext/jquery.js"></script>
        <script src="ext/underscore.js"></script>
        <script src="ext/mustache.js"></script>
        <script src="ext/mousetrap.min.js"></script>
        <script src="ext/cobu-eventbus.js"></script>

        <script src="yakjs-ui.js"></script>
    </head>

    <body>
        <div class="workspace panel"></div>

        {{{templates}}}

    </body>
</html>
