.drop-panel {
    .panel;

    font-size: 12px;
    font-family: 'roboto';
    color: #909090;
    text-transform:uppercase;
    text-decoration:none;
    text-align: center;
    background: #e5e5e5;
    line-height: 40px;
}

.drop-panel.mod-drag-over {
    background: #4787C7;
    border: solid 1px #377797;
    color: #ffffff;
}
