.drop-panel {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 230px;
    height: 40px;

    color: #909090;
    text-align: center;
    text-transform: uppercase;
    font: 14px / 24px 'roboto-medium';
    color: rgba(0, 0, 0, 0.60);
    background: rgba(255, 255, 255, 0.6);
    line-height: 40px;

//    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.drop-panel.mod-drag-over {
    background: #4787C7;
    color: #ffffff;
}
