@header-height-tall: @app-bar-height;
@header-height: @tool-bar-height;

.header-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .header-panel-header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: @header-height;
    }

    .header-panel-body {
        position: absolute;
        top: @header-height;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.header-panel-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: @header-height;
}

.header-panel.mod-tall > .header-panel-header {
    height: @header-height-tall;
}

.header-panel.mod-tall > .header-panel-body {
    top: @header-height-tall;
}
