.header-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.header-panel-header {
    position: relative;
    flex: 0 1 auto;
}

.header-panel-body {
    position: relative;
    flex: 1 1 auto;
}

.header-panel-footer {
    position: relative;
    flex: 0 1 auto;
}
