.icon-cloud-64 { background: url('icons/cloud.png') no-repeat center; }

.icon-state-stopped { background: url('icons/pause-dark-16.png') no-repeat center; }
.icon-state-running { background: url('icons/play-dark-16.png') no-repeat center; }