div, input, li {
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
}

.banner {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   height:40px;
   background:#F3F3F3;
}

.header {
   position:relative;
   height:70px;
   border-bottom: solid 1px #E0E0E0;
   vertical-align: middle;
}

.header-logo {
   display:inline-block;
   vertical-align:middle;
   float: left;
   width:70px;
   height:70px;
   opacity:0.25;
}

.header-text {
   display:inline-block;
   vertical-align:middle;
   float:left;
   font: 20px/70px 'OpenSansSemibold';
   color: #303030;
   margin-left:10px;
}

.main {
   position:absolute;
   left: 50%;
   top: 40px;
   bottom: 0;
   width: 980px;
   margin-left: -490px;
}

.login {
   float:right;
   display:inline-block;
   text-align:right;
   height:30px;
   white-space: nowrap;
   margin-top:20px;
}

.login-input {
   display:inline-block;
   vertical-align:middle;
}

.login-input input {
   width:200px;
}

.login-input input.state-connected {
   width:200px;
   border: solid 1px #87C747;
}

.login-input input.state-error {
   width:200px;
   border: solid 1px #C74787;
}

.login-button {
   display:inline-block;
   width:80px;
   vertical-align:middle;
   margin-left:10px;
}

.menu {
   height:40px;
}

.menu ul {
   height:40px;
   margin: 0;
   padding:0;
}

.menu li {
   float:left;
   display:inline-block;
   text-transform: uppercase;
   font: 16px/40px 'OpenSansRegular';
   color: #757575;
   margin: 0;
   margin-right:10px;
   cursor:pointer;
}

.menu li.state-active {
   color: #4787C7;
   border-bottom: solid 2px #4787C7;
}

.menu li:hover {
   color: #4787C7;
}

.panels {
   margin-top: 20px;
}

.panel {
   position:relative;
}

.list {
   margin-top: 20px;
}

.list-item {
   position:relative;
   height:30px;
   border-bottom:1px solid #F0F0F0;
   font: 12px/30px 'OpenSansRegular';
   color: #303030;
   overflow:hidden;
   cursor:context-menu;
}

.list-item.state-context-open {
   background:#F5F5F5;
}

.list-item-cell {
   display:inline-block;
   margin: 0;
   height:30px;
   vertical-align:top;
}

.instance-item-state { width:30px; opacity:0.5; }
.instance-item-port { width:60px; font-family: 'OpenSansSemibold'; color: #000000; }
.instance-item-name { width:140px; }
.instance-item-desc { width:200px; }
.instance-item-connectionCount { width:60px; }
.instance-item-plugins { }


.context-menu {
   width:150px;
   border:solid 1px #C0C0C0;
   background:transparent;
   box-shadow: 0 0 10px #E0E0E0;
   position:absolute;
   left:0;
   top:0;
   display:none;
}

.context-menu ul {
   margin: 0;
   padding: 0;
   display:block;
}

.context-menu li {
   display:block;
   height:30px;
   font: 12px/30px 'OpenSansRegular';
   padding: 0;
   margin: 0;
   padding-left:10px;
   color: #303030;
   cursor:pointer;
   border-top: 1px solid transparent;
   border-bottom: 1px solid transparent;
   background:#F5F5F5;
}

.context-menu li.seperator,
.context-menu li.seperator:hover {
   height: 1px;
   border: 0;
   border-top: 1px solid #E0E0E0;
}

.context-menu li:hover {
    background:#E5E5E5;
    color: #000000;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

.form {
}

.form-line {
   margin-bottom:15px;
}

.line-label {
   display:inline-block;
   height:30px;
   width:200px;
   font: 13px/30px 'OpenSansRegular';
   color: #303030;
   text-transform:uppercase;
   overflow:hidden;
   vertical-align:top;
}

.line-help {
   font: 11px/18px 'OpenSansRegular';
   color: #A0A0A0;
}

.line-input {
   display:inline-block;
   height:30px;
   color: #303030;
}

.line-input input {
   height:30px;
   width:300px;
}

.line-left {
   display:inline-block;
   width:200px;
   min-height: 30px;
   vertical-align:top;
}

.line-left .line-label {
   display:block;
   vertical-align:top;
}

.line-editor {
   display:inline-block;
   width:770px;
}

.codeEditor {
   width:770px;
   height:300px;
   border: solid 1px #E0E0E0;
}
