<!DOCTYPE html>
<html>
{{> head}}

<body>
<yak-app-layout>
    <yak-header slot="header"></yak-header>
    <yak-instance-list-view slot="body"></yak-instance-list-view>
</yak-app-layout>
</body>
</html>
