<div class="group-block">
    <header class="group-block-header tree-item" data-selectable data-expand-header data-is-expanded="true" style="padding-left: {{intend}}px">
        <div class="tree-item-icon"></div>
        <div class="tree-item-cell">{{name}}</div>
    </header>
    <div class="group-block-body" data-expand-body data-is-expanded="true">
        {{{nodes}}}
    </div>
</div>

