<div class="header-panel">
    <header class="header-panel-header">
        <div class="tool-bar-block">
            <div class="tool-bar-block-line">
                <div class="center-panel">
                    <div class="text-button" data-command="create">Create Item</div>
                    <div class="text-button" data-command="refresh">Refresh</div>
                </div>
            </div>
        </div>
    </header>

    <div class="header-panel-body">
        <div class="panel">
            <div class="center-panel">
                <div class="content-panel">
                    <div class="scroll-panel">
                        <div data-element="tree">
                            <div data-list="groups"></div>
                            <div class="list" data-list="items"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
