<div class="group-block">
    <header class="group-block-header" data-expand-header data-is-expanded="true">
        <div class="list-item-icon"></div>
        <div class="">{{name}}</div>
    </header>
    <section class="group-block-body" data-expand-body data-is-expanded="true">
        <div class="intention-block">
            <div>{{{groups}}}</div>
            <div class="list" data-list="items">
                {{{items}}}
            </div>
        </div>
    </section>
</div>
