<li class="tree-item clickable" data-selectable data-key="{{key}}" style="padding-left: {{intend}}px">
    <div class="tree-item-cell list-item-icon icon-store"></div>
    <div class="tree-item-cell">{{name}}</div>
</li>
