<div class="panel-toolbar">
    <ul class="panel-actions">
        <li><button data-bind="click: handleNewStoreItemClick">New Entry</button></li>
        <li><button data-bind="click: handleRefreshClick">Refresh</button></li>
    </ul>
    <ul class="panel-actions-right">
        <li><div class="drop-file" title="Drop text of json file here to create/update a store item with the name of the file as key.">Drop text or json File(s)</div></li>
    </ul>
</div>

<div class="list store-items"></div>

<div id="store-item-context" class="context-menu store-item-context">
    <ul>
        <li data-menu="edit">Edit</li>
        <li data-menu="saveAsFile">Save as file</li>
        <li class="seperator"></li>
        <li data-menu="delete">Delete</li>
    </ul>
</div>
