<div class="list-item store-item" data-key="{{key}}">
    <div class="list-item-cell list-item-open-context"></div>
    <div class="list-item-cell list-item-icon icon-key-dark"></div>
    <div class="list-item-cell store-item-key">{{key}}</div>
</div>