<div class="header-panel">
    <div class="header-panel-header">
        <ul class="toolbar">
            <li class="toolbar-item"><button data-bind="click: handleNewStoreItemClick">New Entry</button></li>
            <li class="toolbar-item"><button data-bind="click: handleRefreshClick">Refresh</button></li>
        </ul>
    </div>
    <div class="header-panel-body">
        <div class="scroll-panel">
            <div class="list store-items"></div>
        </div>
    </div>
</div>

<div id="store-item-context" class="context-menu store-item-context">
    <ul>
        <li data-menu="edit">Edit</li>
        <li data-menu="saveAsFile">Save as file</li>
        <li class="seperator"></li>
        <li data-menu="delete">Delete</li>
    </ul>
</div>
