<div class="group-block">
    <header class="group-block-header">
        <div class="list-item-icon icon-folder-open"></div>
        <div class="">{{name}}</header>
    <section class="group-block-body">
        <div class="intention-block">
            <div>{{{groups}}}</div>
            <div class="list" data-list="items">
                {{{items}}}
            </div>
        </div>
    </section>
</div>
