
.port-text {
    .center;
    font-family: 'roboto-bold', sans-serif;
    text-align: center;
}

.state-text {
    width: 50px;
}

.status-indicator-box {
    width: @line-height;
    height: @line-height;
}

[data-state=running] .status-indicator-box {
    .okay-status;
}

[data-state=warning] .status-indicator-box {
    .not-okay-status;
}

[data-state=stopped] .status-indicator-box {
    background: @color-grey-dark;
}

[data-state=running] [data-command=start] {
    .flat-button-disabled;
}

[data-state=stopped] [data-command=stop],
[data-state=warning] [data-command=stop] {
    .flat-button-disabled;
}
