<div class="card-block instance-item" data-id="{{id}}">
    <div class="header-panel mod-tall">
        <div class="header-panel-header">
            <div class="seperator-panel">
                <div class="context-panel">
                    <div class="context-panel-context">
                        <div class="card-status-indicator" data-state="{{state}}"></div>
                    </div>
                    <div class="context-panel-body">
                        <div class="frame-panel">
                            <div class="card-title">{{name}}</div>
                            <div class="card-sub-headline">{{port}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-panel-body">
            <div class="footer-panel">
                <div class="footer-panel-body">
                    <div class="seperator-panel">
                        <div class="frame-panel">
                            <div class="body-text">{{description}}</div>
                            <div class="body-text">Plugins running: {{pluginActiveCount}}/{{pluginTotalCount}}</div>
                        </div>
                    </div>
                </div>
                <div class="footer-panel-footer">
                    <div class="tool-bar">
                        {{^isInstanceRunning}}
                        <div class="tool-bar-item">
                            <div class="text-button" data-command="start">
                                <div class="center">Start</div>
                            </div>
                        </div>
                        {{/isInstanceRunning}}

                        {{#isInstanceRunning}}
                        <div class="tool-bar-item">
                            <div class="text-button" data-command="stop">
                                <div class="center">Stop</div>
                            </div>
                        </div>
                        {{/isInstanceRunning}}

                        <div class="tool-bar-item">
                            <div class="text-button" data-command="edit">
                                <div class="">Edit</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="list-item-open-context"></div>-->
    <!--<div class="list-item-icon icon-instance-dark"></div>-->
    <!--<div class="instance-item-state icon-state-{{state}}"></div>-->
    <!---->
    <!--<div class="list-item-icon icon-connections-dark" title="Active connections."></div>-->
    <!--<div class="instance-item-connectionCount">{{connectionCount}}</div>-->
    <!--<div class="list-item-icon icon-plugin-dark" title="Active plugins / Assigned plugins"></div>-->
    <!--<div class="instance-item-pluginCount">{{pluginActiveCount}}/{{pluginTotalCount}}</div>-->
</div>

<!--<div class="list-item-open-context"></div>-->
<!--<div class="list-item-icon icon-instance-dark"></div>-->
<!--<div class="instance-item-state icon-state-{{state}}"></div>-->
<!--<div class="instance-item-port">{{port}}</div>-->
<!--<div class="instance-item-name">{{name}}</div>-->
<!--<div class="instance-item-desc">{{description}}</div>-->
<!--<div class="list-item-icon icon-connections-dark" title="Active connections."></div>-->
<!--<div class="instance-item-connectionCount">{{connectionCount}}</div>-->
<!--<div class="list-item-icon icon-plugin-dark" title="Active plugins / Assigned plugins"></div>-->
<!--<div class="instance-item-pluginCount">{{pluginActiveCount}}/{{pluginTotalCount}}</div>-->