
.port-text {
    .center;
    font-family: 'roboto-bold', sans-serif;
    text-align: center;
}

.status-indicator-block {
    width: @line-height * 2;
    margin-right: 2 * @grid-size;
}
.status-indicator {
    width: @line-height * 2;
    height: @line-height * 2;
    margin: 0;
    border-radius: 0;
    background-color: @color-grey;
    color: black;
}

[data-state=running] .status-indicator {
    .okay-status;
}

[data-state=warning] .status-indicator {
    .not-okay-status;
}

[data-state=running] [data-command=start] {
    display: none;
}

[data-state=stopped] [data-command=stop],
[data-state=warning] [data-command=stop] {
    display: none;
}
