<div class="list-item" data-plugin="{{name}}">
    <div class="list-item-cell list-item-icon icon-plugin"></div>
    <div class="list-item-cell plugin-item-name">{{name}}</div>
    <div class="list-item-cell plugin-item-version">{{version}}</div>
    <div class="list-item-cell plugin-item-description">{{description}}</div>
</div>
