<div class="header-panel mod-tall">
    <header class="header-panel-header">
        <div class="white-space-block"></div>
        <ul class="tool-bar">
            <li class="tool-bar-item">
                <div class="button" data-command="create">
                    <div class="center">New Instance</div>
                </div>
            </li>
            <li class="tool-bar-item">
                <div class="button" data-command="refresh">
                    <div class="center">Refresh</div>
                </div>
            </li>
        </ul>
    </header>
    <section class="header-panel-body">
        <div class="scroll-panel">
            <div class="list instance-items"></div>
        </div>
    </section>
</div>
