<div class="header-wrap">

    <div class="header-logo"><div class="header-logo-icon icon-yak-white"></div></div>
    <div class="header-text">yak-js</div>
    <div class="header-links">
      <a href="https://github.com/cobuChris/yak-js/blob/master/README.md">doku</a>
      <a href="https://github.com/cobuChris/yak-js">github</a>
    </div>

    <div class="header-connect">
      <div class="header-connect-input"><input type="text" data-bind="class: classConnectionState, value: webSocketUri"></div>
      <button id="webSocketConnect" class="connect-button">Connect</button>
    </div>

    <div class="header-connect-text">
        Connect to service port of a yak-js server.
    </div>
</div>