{
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "globals": {
        "yak": true,
        "_": true,
        "$": true
    },
    "rules": {
        "eqeqeq": 0,
        "no-use-before-define": 0,
        "no-unused-vars": 0,
        "no-trailing-spaces": 0,
        "no-extra-strict": 0,

        "valid-jsdoc": [2, {
            "requireReturn": false,
            "requireParamDescription": false,
            "prefer": {
                "return": "returns"
            }
        }],

        "quotes": [2, "single"],
        "strict": 0,
        "func-names": 2,
        "curly": 2
    }
}
