<div class="header-panel">
    <header class="header-panel-header">
        <div class="tool-bar-block">
            <div class="tool-bar-block-line">
                <div class="center-panel">
                    <div class="text-button" data-command="refresh">Refresh</div>
                    <div class="text-button" data-command="clearModuleCache">Clear module cache</div>
                </div>
            </div>
        </div>
    </header>

    <div class="header-panel-body">
        <div class="panel">
            <div class="center-panel">
                <div class="content-panel">
                    <div class="scroll-panel">
                        <div class="center-block">
                            <ul class="list module-items" data-selectable></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
