<div class="list-item clickable" data-id="{{moduleName}}">
    <div class="list-item-cell list-item-icon icon-module"></div>
    <div class="list-item-cell module-item-name">{{moduleName}}</div>
</div>
