<div class="list-item instance-item" data-instance="{{name}}">
    <div class="list-item-cell instance-item-open-context"></div>
    <div class="list-item-cell instance-item-state icon-state-{{state}}"></div>
    <div class="list-item-cell instance-item-port">{{port}}</div>
    <div class="list-item-cell instance-item-name">{{name}}</div>
    <div class="list-item-cell instance-item-desc">{{description}}</div>
    <div class="list-item-cell instance-item-connectionCount">{{connectionCount}}</div>
    <div class="list-item-cell instance-item-plugins">{{plugins}}</div>
</div>