<div class="list-item log-item" data-log-level = "{{level}}" data-log-category = "{{category}}">
    <div class="list-item-cell log-item-time">{{time}}</div>
    <div class="list-item-cell log-item-category">{{category}}</div>
    <div class="list-item-cell log-item-level">{{level}}</div>
    <div class="list-item-cell log-item-info">{{info}}</div>
</div>