<div class="list-item plugin-item" data-plugin="{{name}}">
    <div class="list-item-cell instance-item-name">{{name}}</div>
    <div class="list-item-cell instance-item-description">{{description}}</div>
</div>