:host {
    --background: var(--action-button-background-color, #CDDC39);
    --height: var(--action-button-height, 2rem);
    --color: var(--action-button-color, #405d6b);
    --border-width: 2px;

    display: inline-block;
    position: relative;
    min-width: var(--height);
    height: var(--height);
    padding: 0;
}

.action-button {
    box-sizing: border-box;
    background: var(--background);
    color: var(--color);
    border-radius: calc(2 * var(--border-width));
    padding: 0 1rem;
    transition: all .25s ease;
    outline: 0;
    cursor: pointer;
    user-select: none;
    border: solid var(--border-width) transparent;
    font-weight: bold;
    font-size: 1rem;
    line-height: calc(var(--height) - var(--border-width));
    white-space: nowrap;
    margin-right: 0.25rem;
    height: var(--height);;
}

.action-button:hover {
    border: solid var(--border-width) var(--color);
}

.toggle-button[disabled] {
    opacity: 0.5;
}
