<div class="header-panel">
    <header class="header-panel-header">
        <div class="tool-bar-block">
            <div class="tool-bar-block-line">
                <div class="center-panel">
                    <div class="text-button" data-command="choose">Choose file...</div>
                </div>
            </div>
        </div>
    </header>

    <section class="header-panel-body">
        <div class="panel">
            <div class="center-panel">
                <div class="content-panel">

                        <div class="drop-block" title="Drop files here for upload *.instance.json, *.plugin.js, *.store.txt">
                            <div class="drop-block-icon"></div>
                            <div class="drop-block-text">Drop files here for upload *.instance.json, *.plugin.js, *.store.txt</div>
                        </div>


                        <input style="display:none;" type="file" name="fileInput" />

                </div>
            </div>
        </div>
    </section>
</div>


