<div class="header-panel">
    <header class="header-panel-header">
        <div class="tool-bar-block">
            <div class="tool-bar-block-line">
                <div class="center-panel">
                    <div class="text-button" data-element="choose">Choose file...</div>
                    <input style="display:none;" type="file" name="fileInput" />

                    <div class="tool-box">
                        <a href="http://www.yakjs.com/api/fileupload.html" class="icon-button icon-help-white" title="API Documentation"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="header-panel-body">
        <div class="panel">
            <div class="center-panel">
                <div class="content-panel">

                    <div class="header-panel">
                        <header class="header-panel-header">
                            <section data-element="drop" class="frame-block">
                                <div class="drop-block" title="Drop files here for upload *.instance.json, *.plugin.js, *.store.txt">
                                    <div class="drop-block-icon"></div>
                                    <div class="drop-block-text">Drop files here for upload. Supported types: *.instance.json, *.plugin.js, *.store.txt, *.cp.json</div>
                                </div>
                            </section>

                            <section data-element="progress" class="frame-block">
                                <div class="progress-block">
                                    <div class="progress-block-progress" style="width: 0"></div>
                                    <div class="progress-block-text">0%</div>
                                </div>
                            </section>
                        </header>
                        <div class="header-panel-body">
                            <div class="scroll-panel">
                                <div data-element="errorMessage">
                                    <div class="frame-block">
                                        <div class="line-block warning-text" data-element="errorMessageText"></div>
                                    </div>
                                </div>
                                <div data-element="report"></div>
                            </div>
                        </div>
                    </div>

                 </div>
            </div>
        </div>
    </div>
</div>


