@color-white: #ffffff;

@color-grey-dark: #505050;
@color-grey: #f5f5f5;

@color-indigo: #4787C7;

@color-mulberry: #C74787;
@color-mulberry-light: lighten(#C74787, 30);


.accent {
    color: @color-indigo;
}