.icon-yak { background: url('icons/yak.png') no-repeat center; }
.icon-yak-white { background: url('icons/yak-white.png') no-repeat center; }
.icon-yak-stars { background: url('icons/stars.svg') no-repeat center; }

.icon-state-stopped { background: url('icons/pause-dark-16.png') no-repeat center; }
.icon-state-running { background: url('icons/play-dark-16.png') no-repeat center; }

.icon-context-accent { background: url('icons/context-accent.svg') no-repeat center; background-size:20px 20px; }
.icon-context-white { background: url('icons/context-white.svg') no-repeat center; background-size:20px 20px; }

.icon-key-dark { background: url('icons/key.svg') no-repeat center; background-size:15px 15px; opacity: 0.5;}
.icon-plugin-dark { background: url('icons/puzzle.svg') no-repeat center; background-size:15px 15px; opacity: 0.5;}
.icon-instance-dark { background: url('icons/cog-dark.svg') no-repeat center; background-size:15px 15px; opacity: 0.5;}

.icon-connections-dark { background: url('icons/link-dark.svg') no-repeat center; background-size:15px 15px; opacity: 0.5;}
