.icon-size-16 {
    background: no-repeat center;
    background-size: 16px 16px;
}

.icon-size-24 {
    background: no-repeat center;
    background-size: 16px 16px;
}

.icon-yak-white { background: url('icons/yakjs-logo-white-64.svg') no-repeat center; }

.icon-file-upload { background: url('icons/file-upload.svg') no-repeat center; background-size: 32px 32px; }

.icon-alert {
    .icon-size-16;
    background-image: url('icons/alert.svg')
}

.icon-check {
    .icon-size-16;
    background-image: url('icons/check.svg')
}

.icon-folder-open {
    .icon-size-16;
    background-image: url('icons/chevron-down.svg')
}

.icon-folder {
    .icon-size-16;
    background-image: url('icons/chevron-right.svg')
}

.icon-store {
    .icon-size-16;
    background-image: url('icons/file.svg');
}

.icon-instance {
    .icon-size-16;
    background-image: url('icons/hexagon.svg');
}

.icon-instance-lime {
    .icon-size-16;
    background-image: url('icons/hexagon-lime.svg');
}

.icon-instance-mulberry {
    .icon-size-16;
    background-image: url('icons/hexagon-mulberry.svg');
}

.icon-maximize {
    .icon-size-24;
    background-image: url('icons/maximize.svg');
}

.icon-minimize {
    .icon-size-24;
    background-image: url('icons/minimize.svg');
}

.icon-plugin {
    .icon-size-16;
    background-image: url('icons/plugin.svg');
}

.icon-healing {
    .icon-size-24;
    background-image: url('icons/healing.svg');
}
