@grid-baseline: 8px;
@icon-baseline: 4px;
@font-baseline: 2px;

@tool-bar-height: 64px;
@app-bar-height: 64px;

div, input, li {
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
}

.banner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height:40px;
    background:#505050;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.banner-wrap {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.instance-item-state { width:30px; opacity:0.5; }
.instance-item-port { width:60px; color: #000000; }
.instance-item-name { width:250px; }
.instance-item-desc { width:350px; }

.instance-item-connectionCount { width:50px; }
.instance-item-pluginCount { width:50px; }


.context-menu {
    width:150px;
    background:transparent;
    position:absolute;
    left:0;
    top:0;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    -moz-transition: opacity 0.1s ease-in;
    -webkit-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}

.context-menu.state-context-open {
    border:solid 1px #4787C7;
    display: block;
    opacity: 1;
    z-index: 100;
    -moz-transition: opacity 0.1s ease-in;
    -webkit-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}

.context-menu ul {
    margin: 0;
    padding: 0;
    display:block;
}

.context-menu li {
    display:block;
    height:30px;
    font: 12px/30px 'roboto';
    padding: 0;
    margin: 0;
    padding-left:10px;
    color: #4787C7;
    cursor:pointer;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    background:#ffffff;
}

.context-menu li.seperator,
.context-menu li.seperator:hover {
    height: 1px;
    border: 0;
    border-top: 1px solid #4787C7;
}

.context-menu li:hover {
    background:#4787C7;
    color: #ffffff;
    border-top: 0 solid #E0E0E0;
    border-bottom: 0 solid #E0E0E0;
}

.form {
    margin: 10px 0;
    background: #ffffff;
    padding: 10px 10px;
}

.form-line {
    margin-top: 10px;
    margin-bottom: 10px;
}

.error-line {
    display: none;
}

.error-line-text {
    display:inline-block;
    min-height:30px;
    color: #C74787;
    font: 13px/20px 'roboto-medium';
}

.line-label {
    display:block;
    height:30px;
    width:150px;
    font: 13px/30px 'roboto';
    color: #303030;
    text-transform:uppercase;
    overflow:hidden;
    vertical-align:top;
    float: left;
}


.line-input {
    display:inline-block;
    min-height:30px;
    color: #303030;
    width: 800px;
}

.line-input input {
   height:30px;
   width:380px;
}

.line-left {
   display:inline-block;
   width:200px;
   min-height: 30px;
   vertical-align:top;
}

.line-left .line-label {
   display:block;
   vertical-align:top;
}

.line-editor {
   display:inline-block;
   width:770px;
}

.codeEditor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.codeEditor-store {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.codeEditor-status {
    height: 50px;
}

.codeEditor-status .status-item {
    display: inline-block;
    height: 30px;
    margin: 10px 10px 10px 0;
    background: #ffffff;
    vertical-align: top;
}

.status-item .status-line {
    padding: 0 10px;
    font: 12px/30px 'roboto';
    color: #A0A0A0;
    min-width: 60px;
    text-align: center;
}

.status-item .status-help {
     padding: 0 10px;
     font: 12px/30px 'roboto';
     color: #A0A0A0;
 }

.status-item .status-syntax {
    margin: 10px;
    width: 10px;
    height: 10px;
    background: #87C747;
}

.status-item .status-syntax.state-syntax-error {
    background: #C74787;
}

.notification {
    height:40px;
    font: 14px/40px 'roboto';
    padding-left: 10px;
    padding-right:10px;
    overflow:hidden;
    background: #C74787;
    color: #ffffff;
    margin: 10px 0 10px 0;
}

.plugin-list {
}

.select-plugin-item {
    position: relative;
    display: block;
    margin: 0px;
    background: #ffffff;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
    width: 380px;
}

.select-plugin-item-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30px;
    font: 12px/25px 'roboto';
}

.select-plugin-item-selector {
    position: absolute;
    top: 7px;
    bottom: 8px;
    left: 5px;
    border: solid 1px #909090;
    background: #f5f5f5;
    height: 10px;
    width: 10px;
    border-radius: 0px;
}

.select-plugin-item-selector.state-active {
    background: #4787C7;
    border: solid 1px #377797;
}

