@grid-size: 10px;
@icon-baseline: 4px;
@font-baseline: 2px;

@line-height: 4 * @grid-size;

body {
    background: @color-grey;
    font: 14px / 30px 'roboto';
    color: @color-grey-dark;
}

div, input, li {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

::selection {
    background: @color-blue-grey;
    color: white;
}
