@row-height: 50px;

.list {
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list[data-selectable] .list-item:hover {
    cursor: pointer;
    border-left: @grid-size @color-lime-300 solid;
}

.list-item {
    display: block;
    min-height: @row-height;
    overflow: hidden;
    border-bottom: 1px @color-grey solid;
    border-left: @grid-size transparent solid;
}

.list-item[data-selected] {
    background: @color-mulberry-light;
}


.list-item.state-context-open {
    background:#F5F5F5;
}

.list-item-cell {
    padding-right: 10px;
    height: @row-height;
    line-height: @row-height;
    overflow: hidden;
    float: left;
}

.list-item-cell-right {
    padding-left: 10px;
    height: @row-height;
    line-height: @row-height;
    overflow: hidden;
    float: right;
}

.list-item-cell-max {
    float: left;
    padding-right: 10px;
}

.list-item-cell-full {
    float: left;
    height: 30px;
    overflow: hidden;
}

.list-item-icon {
    float: left;
    width: @row-height;
    height: @row-height;
}

.list-inline-button {
    margin: @grid-size 0;
    min-width: 60px;
    border: 2px @color-mulberry solid;
    letter-spacing: -1px;
    height: @line-height;
    background-color: white;
    font-weight: bold;
    line-height: @line-height - 4px;
    outline: 0;
    color: @color-mulberry;
    cursor: pointer;
}

.list-inline-button:hover {
    background-color: @color-mulberry;
    color: white;
    outline: 0;
}
