
.workspace {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 980px;
    margin-left: -490px;
}

.workspace-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.workspace-drop {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 300px;
}

.workspace-panels {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
}

.workspace-nav {
    height:40px;
    margin: 0 0 0 0;
    background: #ffffff;
}

.workspace-nav ul {
    height:40px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.workspace-nav li {
    float:left;
    display:inline-block;
    text-transform: uppercase;
    font: 16px/40px 'roboto';
    color: #757575;
    margin: 0;
    margin-right:10px;
    cursor:pointer;
    padding: 0 10px;
}

.workspace-nav li.state-active {
    color: #4787C7;
    border-bottom: solid 3px #4787C7;
}

.workspace-nav li:hover {
    color: #4787C7;
}

.panels {
    margin-top: 20px;
}
