<div class="dark-background-panel">
    <div class="center-panel">
        <div class="app-bar-logo yakjs-logo-white"></div>

        {{#versionInfo.isNewVersionAvailable}}
            <div class="app-bar-bubble">
                <p class="app-bar-bubble-text">A new version {{versionInfo.lastReleasedVersion}} is available.</p>
            </div>
        {{/versionInfo.isNewVersionAvailable}}
    </div>
</div>
