.app-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:#505050;
    overflow: hidden;
    z-index: 50;
}

.app-bar-logo {
    position: absolute;
    bottom: 0;
    height: 56px;
    left: 0;
    display:block;
    width: 80px;
}

.app-bar-logo-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.app-bar-logo-stars-icon {
    position: absolute;
    top: -2px;
    left: 15px;
    width: 64px;
    height: 64px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg) scale(0.5); }
    to { -webkit-transform: rotate(360deg) scale(0.5);}
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg) scale(0.5);}
    to { -moz-transform: rotate(360deg) scale(0.5);}
}
@-o-keyframes spin {
    from { -o-transform: rotate(0deg) scale(0.5);}
    to { -o-transform: rotate(360deg) scale(0.5);}
}

.app-bar-text {
    position: absolute;
    bottom: 0;
    left: 80px;
    vertical-align:middle;
    float: left;
    font: 20px/24px 'roboto-medium';
    color: #f0f0f0;
    margin-left: 10px;
}

.app-bar-links {
    position: absolute;
    top: 45px;
    left: 140px;
    bottom: 0;
}

.app-bar-links a {
    margin-left:10px;
    font: 11px/20px 'roboto';
    color: #909090;
    text-transform:uppercase;
    text-decoration:none;
}

.app-bar-links a:hover {
    color: #4787C7;
    text-decoration:none
}
