<div class="dark-background-panel">
    <div class="center-panel">
        <div class="app-bar-logo">
            <div class="app-bar-logo-icon icon-yak-white"></div>
        </div>
        <div class="app-bar-text">YAK <span style="opacity: 0.5;">js</span></div>
        <div class="app-bar-links">
            <a href="https://github.com/cschuller/yak-js" target="_blank">Code on HitHub</a>
            <a href="https://github.com/cschuller/yak-js/releases" target="_blank">v{{version}}</a>
            <a href="https://github.com/cschuller/yak-js/wiki" target="_blank">Documentation</a>
        </div>
    </div>
</div>
