<section class="header-panel mod-tall">
    <div class="header-panel-header">
        <div class="white-space-block"></div>
        <ul class="tool-bar">
            <li class="tool-bar-item">
                <div class="button" data-command="create"><div class="center">New Plugin</div></div>
            </li>
            <li class="tool-bar-item">
                <div class="button" data-command="refresh"><div class="center">Refresh</div></div>
            </li>
        </ul>
    </div>
    <div class="header-panel-body">
        <section class="footer-panel">
            <div class="footer-panel-body">
                <div class="card-panel">
                    <div class="scroll-panel ">
                        <div class="list plugin-items"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
