<div class="list-item clickable" data-id="{{id}}">
    <div class="list-item-cell list-item-icon icon-plugin"></div>
    <div class="list-item-cell plugin-item-name">{{id}}</div>
    <div class="list-item-cell plugin-item-version">{{version}}</div>
    <div class="list-item-cell plugin-item-description">{{description}}</div>
</div>
