<div class="header-panel">
    <header class="header-panel-header">
        <div class="tool-bar-block">
            <div class="tool-bar-block-line">
                <div class="center-panel">
                    <div class="text-button" data-element="create">Create Plugin</div>

                    <div class="tool-box">
                        <a href="/v1/logs/yakjs" target="_blank" class="icon-button icon-bug-white" title="Opens the YAKjs log file."></a>
                        <a href="http://www.yakjs.com/api/plugins.html" class="icon-button icon-help-white" title="API Documentation"></a>
                        <div class="icon-button icon-refresh-white" data-element="refresh" title="Refresh"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="header-panel-body">
        <div class="panel">
            <div class="center-panel">
                <div class="content-panel">
                    <div class="scroll-panel">
                        <div class="center-block">
                            <ul class="list plugin-items" data-selectable></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
