.icon-yak { background: url('icons/yak.png') no-repeat center; }
.icon-yak-white { background: url('icons/yak-white.png') no-repeat center; }

.icon-state-stopped { background: url('icons/pause-dark-16.png') no-repeat center; }
.icon-state-running { background: url('icons/play-dark-16.png') no-repeat center; }