<div class="header-panel">
    <div class="header-panel-header">
        <ul class="tool-bar">
            <li class="tool-bar-item"><div class="button" data-bind="click: handleSaveClick">Save</div></li>
            <li class="tool-bar-item"><div class="button" data-bind="click: handleCancelClick">Cancel</div></li>
        </ul>
    </div>
    <div class="header-panel-body">
        <div class="dynamic-panel">
            <div class="dynamic-panel-top">
                <div class="form-line error-line">
                    <div class="error-line-text">{{error-text-here}}</div>
                </div>
                <div class="form">
                    <div class="form-line">
                        <div class="line-label">Key</div>
                        <div class="line-input"><input data-bind="value:key" type="text" /></div>
                    </div>
                </div>
            </div>
            <div class="dynamic-panel-center">
                <div class="dynamic-panel-center-content">
                    <div id="storeValueEditor" class="codeEditor-store"></div>
                </div>
            </div>
        </div>
    </div>
</div>
