<div class="header-panel">
    <header class="header-panel-header">
        <div class="white-space-block"></div>
        <ul class="tool-bar">
            <li class="tool-bar-item">
                <div class="button" data-command="save">
                    <div class="center">Save</div>
                </div>
            </li>
            <li class="tool-bar-item" data-item-command-visible="true">
                <div class="button" data-command="delete" >
                    <div class="center">Delete</div>
                </div>
            </li>
            <li class="tool-bar-item">
                <div class="button" data-command="cancel">
                    <div class="center">Cancel</div>
                </div>
            </li>
        </ul>
    </header>
    <section class="header-panel-body">
        <div class="dynamic-panel">
            <div class="dynamic-panel-top">
                <div class="content-block">
                    <div class="form-line error-line">
                        <div class="error-line-text">{{error-text-here}}</div>
                    </div>
                    <div class="form">
                        <div class="form-line">
                            <div class="line-label">Key</div>
                            <div class="line-input"><input data-bind="value:key" type="text" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dynamic-panel-center">
                <div class="dynamic-panel-center-content">
                    <div class="content-panel mod-vertical-margin">
                        <div id="storeValueEditor" class="codeEditor-store"></div>
                        <div class="top-right-corner-box ">
                            <div class="icon-button icon-healing" data-command="prettifyJson" title="Click to auto-format (prettify) JSON data"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
